@font-face {
  font-family: "Muller";
  src: local("MullerLightItalic"), url("../fonts/MullerLightItalic.woff2") format("woff2"), url("../fonts/MullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller Regular";
  src: local("MullerRegularItalic"), url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #222427;
  font-family: "Muller", Arial, sans-serif;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 120px;
  border-left: 1px solid #3d3f42;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  font-size: 40px;
}

.content h2 {
  font-size: 32px;
}

.content h3 {
  font-size: 28px;
}

.content h4 {
  font-size: 24px;
}

.content h5 {
  font-size: 20px;
}

.content h6 {
  font-size: 16px;
}

.content p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #3D3D3D;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn svg path {
  fill: currentColor;
}

.btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #3D3D3D;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #daa666;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: #daa666;
  gap: 40px;
}

.btn:hover:after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ovh {
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #3d3f42;
  padding-left: 210px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 223px 1fr auto;
  grid-template-columns: 223px 1fr auto;
  --height: 114px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.header__left {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__center {
  padding: 0 75px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__item:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #daa666;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__item:hover {
  color: #daa666;
}

.header__item:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  font-family: Muller;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: var(--height);
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid #3d3f42;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn:hover {
  color: #daa666;
}

.banner {
  height: 100vh;
  position: relative;
}

.banner__img {
  height: 100%;
}

.banner__img img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner__wrap {
  position: absolute;
  left: 90px;
  right: 90px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.banner__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1333333333;
  margin-bottom: 40px;
}

.banner__title--btn {
  color: #daa666;
}

.banner__txt {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 35px;
}

.banner__advs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-advs {
  background-color: rgba(18, 18, 18, 0.8);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 90px;
  height: 117px;
}

.banner-advs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  color: #ffffff;
  font-size: 16px;
}

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  display: none;
}

.debug > div {
  height: inherit;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(4.1666666667% - 20px);
  height: inherit;
  outline: 1px solid red;
  background: rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 1919.98px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header {
    height: 76px;
  }

  .debug > div {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1279.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 991.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}