.buy
    h2.buy__title.title.
        Преимущества <span class="color-gold">покупки оборудования</span><br> в лизинг для медицинского учреждения:
    .buy__grid
        .buy__left
            .buy__img
                img(src="/images/content/buy/img.jpg" alt="lorem")
        .buy__right
            .buy__list
                -
                    var list = [
                        {
                            name: 'Низкие затраты на получение оборудования в пользование. ',
                            desc: 'Размер авансового взноса согласовывается индивидуально при заключении договора. '
                        },
                        {
                            name: 'Гибкие условия, учитывающие индивидуальные условия клиента:',
                            desc: 'В договоре лизинга фиксируют: срок договора, размер аванса, индивидуальный график лизинговых платежей.'
                        },
                        {
                            name: 'Отсутствие залога. ',
                            desc: 'Предмет лизинга остается в собственности лизинговой компании, поэтому при финансовой аренде оборудования не требуется залогового обеспечения.'
                        },
                        {
                            name: 'Возможность выбора техники и поставщика.',
                            desc: 'Лизингополучатель может выбрать то оборудование, которое необходимо именно ему. '
                        }
                    ];
                each i in list
                    .buy__item.buy-item
                        .buy-item__left
                            <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.8334 0.700684C14.8276 0.700684 11.9449 1.89473 9.8195 4.02014C7.69408 6.14555 6.50004 9.02823 6.50004 12.034C6.50004 15.0398 7.69408 17.9225 9.8195 20.0479C11.9449 22.1733 14.8276 23.3673 17.8334 23.3673C20.8392 23.3673 23.7218 22.1733 25.8473 20.0479C27.9727 17.9225 29.1667 15.0398 29.1667 12.034H26.3334C26.3334 16.7373 22.5367 20.534 17.8334 20.534C15.579 20.534 13.417 19.6385 11.823 18.0444C10.2289 16.4504 9.33337 14.2884 9.33337 12.034C9.33337 9.77968 10.2289 7.61767 11.823 6.02361C13.417 4.42955 15.579 3.53402 17.8334 3.53402C18.4425 3.53402 19.0517 3.60485 19.6325 3.73235L21.9134 1.46568C20.61 0.955683 19.25 0.700684 17.8334 0.700684ZM27.1692 2.93902L17.8334 12.2748L14.4617 8.90318L12.4642 10.9148L17.8334 16.284L29.1667 4.95068L27.1692 2.93902ZM4.98421 6.11235C2.36337 8.26568 0.833374 11.4815 0.833374 14.8673C0.833374 17.8731 2.02742 20.7558 4.15283 22.8812C6.27824 25.0066 9.16092 26.2007 12.1667 26.2007C13.0734 26.2007 13.9659 26.0873 14.83 25.8748C12.3367 25.3223 10.0417 24.0757 8.15754 22.3615C5.39504 20.8882 3.66671 17.9982 3.66671 14.8673C3.66671 14.4423 3.70921 14.0315 3.76587 13.6065C3.70921 13.0823 3.66671 12.5582 3.66671 12.034C3.66671 9.99402 4.12004 7.96818 4.98421 6.11235Z" fill="#DAA666"/>
                            </svg>
                        .buy-item__right
                            .buy-item__name= i.name
                            .buy-item__desc= i.desc
            .buy__info При приобретении оборудования для юридического лица в лизинг все бонусы и преференции от продавца сохраняются.
            .buy__desc.
                «SUNTEL» <span class="color-gold">напрямую сотрудничает с поставщиками</span> медицинского оборудования, поэтому при заключении договора лизинга мы можем предложить специальные условия.