.projects{
  padding-top: 100px;
  padding-bottom: 120px;

  &__title{
    margin-bottom: 55px;
  }

  &__list{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
  }
}

.project{

  &__img{
    margin-bottom: 35px;
    img{
      display: block;
    }
  }

  &__title{
    color: $btn;
    font-size: 30px;
    margin-bottom: 30px;
  }

  &__desc{
    font-size: 17px;
  }
}