.projects {
  padding-top: 100px;
  padding-bottom: 120px;
  @include xlg-block {
    padding: 60px 0;
  }
  @include lg-block {
    padding: 40px 0;
  }
  @include sm-block {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 55px;
    @include xlg-block {
      margin-bottom: 30px;
    }
    @include lg-block {
      margin-bottom: 30px;
    }
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    @include xlg-block {
      gap: 20px;
    }
    @include lg-block {
      gap: 10px;
    }
    @include sm-block {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px 10px;
    }
  }
}

.project {

  &__img {
    margin-bottom: 35px;
    @include xlg-block {
      margin-bottom: 25px;
    }
    @include lg-block {
      margin-bottom: 15px;
    }

    img {
      display: block;
    }
  }

  &__title {
    color: $btn;
    font-size: 30px;
    margin-bottom: 30px;
    @include xlg-block {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include lg-block {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 17px;
    @include xlg-block {
      font-size: 13px;
    }
    @include lg-block {
      font-size: 12px;
    }
  }
}