-
    var menu = [
        {
            href: '#services',
            name: 'Услуги',
        },
        {
            href: '#leasing',
            name: 'Лизинг',
        },
        {
            href: '#maintenance',
            name: 'Сервисное обслуживание',
        },
        {
            href: '#equipment',
            name: 'Оснащение мед учреждений',
        },
    ];

-
    var phone = {
        val: '8 800 333 19 08',
        href: 'tel:88003331908'
    };