label.accept
    input(type='checkbox' name='accept' checked).accept__input
    span.accept__fake
        span.accept__check
            <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.58783 3.66072L3.64102 5.71305L7.74567 1.6084" stroke="#DAA666" stroke-width="1.37965" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        span.accept__txt Нажимая кнопку "Записаться на просмотр", даю согласие на обработку моих персональных данных

