extends ../../main

block variables
    - var title = 'Главная'

block content
    main.page
        section
            include ../../components/banner/index
        section#services
            .container
                include ../../components/about/index
        section#equipment
            .container
                include ../../components/equipment/index
        section.bg.bg--dark
            .container
                include ../../components/profit/index
                include ../../components/meds/index
        section#leasing
            include ../../components/result/index
        section#maintenance
            .container
                include ../../components/buy/index
        section.bdt
            .container
                include ../../components/tax/index
        section.bdt
            .container
                include ../../components/steps/index
        section.bdt
            .container
                include ../../components/partners/index
        section.bdt
            .container
                include ../../components/projects/index
        section.bdt
            .container
                include ../../components/feed/index


