.about
    h2.about__title.title.
         Экспертность <span class="color-gold">«SUNTEL»</span>
    .about__grid
        .about__col
            img(src="/images/content/about/1.jpg" alt="lorem")
        .about__col.about__col--bg
            .about__content
                h4 Благодаря экспертным знаниям медицинского оборудования, сотрудники компании подберут оптимальные условия лизинга для каждого клиента.
                //h3.
                //    БУДЕМ РАДЫ ПОМОЧЬ ВАМ <br> В ВЫБОРЕ ОБОРУДОВАНИЯ <br> ДЛЯ ВАШЕЙ КЛИНИКИ
                a(href="#" data-event="openCall")
                    span Оставить заявку
                    <svg width="34" height="16" viewBox="0 0 34 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.282 8.39058C33.6725 8.00006 33.6725 7.36689 33.282 6.97637L26.918 0.612406C26.5275 0.221882 25.8943 0.221882 25.5038 0.612406C25.1133 1.00293 25.1133 1.6361 25.5038 2.02662L31.1607 7.68347L25.5038 13.3403C25.1133 13.7309 25.1133 14.364 25.5038 14.7545C25.8943 15.1451 26.5275 15.1451 26.918 14.7545L33.282 8.39058ZM0.804077 8.68347L32.5749 8.68347L32.5749 6.68347L0.804077 6.68347L0.804077 8.68347Z" fill="#DAA666"/>
                    </svg>

        .about__col
            .about__content
                h2.
                    <span class="color-gold">Как работает</span> лизинг?
                p «SUNTEL» напрямую сотрудничает с поставщиками медицинского оборудования, поэтому при заключении договора лизинга мы можем предложить специальные условия.
                p «SUNTEL»  выкупает необходимое оборудование и передает его медицинскому учреждению по  договору лизинга с ежемесячными платежами.
                p.
                    Срок  действия договора лизинга для медтехники - <span class="color-gold">до 5 лет</span>.
                a(href="#" data-event="openCall")
                    span Получить консультацию
                    <svg width="34" height="16" viewBox="0 0 34 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33.282 8.39058C33.6725 8.00006 33.6725 7.36689 33.282 6.97637L26.918 0.612406C26.5275 0.221882 25.8943 0.221882 25.5038 0.612406C25.1133 1.00293 25.1133 1.6361 25.5038 2.02662L31.1607 7.68347L25.5038 13.3403C25.1133 13.7309 25.1133 14.364 25.5038 14.7545C25.8943 15.1451 26.5275 15.1451 26.918 14.7545L33.282 8.39058ZM0.804077 8.68347L32.5749 8.68347L32.5749 6.68347L0.804077 6.68347L0.804077 8.68347Z" fill="#DAA666"/>
                    </svg>
        .about__col
            img(src="/images/content/about/2.jpg" alt="lorem")