.banner-advs{
  background-color: rgba(18, 18, 18, 0.8);
  display:grid;
  grid-auto-flow: column;
  align-items: center;
  padding-left: 90px;
  height: 115px;
  border-top: 1px solid $border;
  @include xlg-block{
    height: 75px;
    padding-left: 40px;
  }

  &__item{
    display: flex;
    align-items: center;
    gap: 25px;

    color: $white;
    font-size: 16px;
    @include xlg-block{
      font-size: 14px;
      gap: 15px;
    }

    svg{
      @include xlg-block{
        width: 20px;
        height: 18px;
      }
    }
  }
}