.fixed
    .fixed__wrap
        a(href="#").fixed__menu
            <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="41" height="5" fill="black"/>
            <rect y="10" width="26" height="5" fill="black"/>
            <rect y="20" width="14" height="5" fill="black"/>
            </svg>
        .fixed__center
            .fixed__item
                a(href="mailto:info@suntelpro.ru").fixed__email info@suntelpro.ru
            .fixed__item
                .fixed__logo
                    img(src="/images/content/logo-name.svg" alt="lorem")
        .fixed__socials
            a(href="#").fixed__social
                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.7942 19.8589L12.4031 25.7279C12.9778 25.7279 13.2317 25.4647 13.5525 25.1523L16.3139 22.4632L22.0588 26.714C23.116 27.2982 23.8791 26.9957 24.1424 25.7309L27.9137 7.93255C28.2998 6.38221 27.3236 5.67905 26.3122 6.13892L4.16727 14.6907C2.65568 15.2979 2.66449 16.1425 3.89174 16.5189L9.57463 18.2952L22.7311 9.9825C23.3522 9.60531 23.9222 9.8081 23.4544 10.224L12.7939 19.8587L12.7942 19.8589Z" fill="#333333"/>
                </svg>
            a(href="#").fixed__social
                <svg width="31" height="20" viewBox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5115 0H12.542V13.8165C6.48397 11.4689 5.20611 3.62734 5.32443 0H0C0.0946565 17.4113 11.7137 20.5414 17.5115 19.93V12.7161C22.4336 13.303 24.8473 17.7699 25.4389 19.93H31C29.7695 14.2567 25.2023 10.882 23.0725 9.90387C28.3733 5.99123 29.7774 1.67102 29.8168 0H24.8473C22.7649 5.86896 19.0891 7.66226 17.5115 7.82528V0Z" fill="#333333"/>
                </svg>
