.steps
    h2.steps__title.title.
        Как <span class="color-gold">оформить оборудование</span><br> в лизинг в «SUNTEL»
    .steps__list
        -
            var list = [
                {
                    name: 'Подайте заявку',
                    desc: 'Это можно сделать в офисе лизинговой компании или онлайн, на нашем сайте. Заполните все поля предлагаемой формы заявки и ждите, когда с вами свяжется специалист по продажам.',
                    btn: true
                },
                {
                    name: 'Подготовьте пакет<br> документов',
                    desc: 'Когда вы получите положительное решение по заявке, внимательно изучите договор, проанализируйте каждый пункт, проясните непонятные и спорные моменты.',
                    download: true
                },
                {
                    name: 'Подпишите<br> договор',
                    desc: 'Когда вы получите положительное решение по заявке, внимательно изучите договор, проанализируйте каждый пункт, проясните непонятные и спорные моменты.'
                },
                {
                    name: 'Внесите аванс',
                    desc: 'Когда вы получите положительное решение по заявке, внимательно изучите договор, проанализируйте каждый пункт, проясните непонятные и спорные моменты.'
                },
                {
                    name: 'Получите<br> оборудование',
                    desc: 'Это можно сделать в офисе лизинговой компании или онлайн, на нашем сайте. Заполните все поля предлагаемой формы заявки и ждите, когда с вами свяжется специалист по продажам.'
                },
                {
                    name: 'Выплачивайте регулярные<br> платежи по договору лизинга.',
                    desc: 'Когда вы получите положительное решение по заявке, внимательно изучите договор, проанализируйте каждый пункт, проясните непонятные и спорные моменты.'
                }
            ];
        each i in list
            .steps__item
                .step
                    .step__top
                        <svg width="131" height="6" viewBox="0 0 131 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M130.556 3.44483C130.691 3.30999 130.691 3.09138 130.556 2.95654L128.359 0.759245C128.224 0.624408 128.005 0.624408 127.871 0.759245C127.736 0.894082 127.736 1.1127 127.871 1.24753L129.824 3.20068L127.871 5.15383C127.736 5.28867 127.736 5.50729 127.871 5.64212C128.005 5.77696 128.224 5.77696 128.359 5.64212L130.556 3.44483ZM0.549316 3.54596H130.312V2.85541H0.549316V3.54596Z" fill="#5B5E61"/>
                        </svg>
                        .step__name-top!= i.name
                    .step__bottom
                        .step__name!= i.name
                        .step__desc= i.desc
                        if i.btn
                            a(href="#" data-event="openCall").step__btn.hover-btn
                                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.7097 4.07373H4.46603C3.99291 4.07373 3.53917 4.26168 3.20462 4.59622C2.87008 4.93077 2.68213 5.38451 2.68213 5.85763V18.345C2.68213 18.8181 2.87008 19.2718 3.20462 19.6064C3.53917 19.9409 3.99291 20.1289 4.46603 20.1289H16.9534C17.4265 20.1289 17.8802 19.9409 18.2148 19.6064C18.5493 19.2718 18.7373 18.8181 18.7373 18.345V12.1013" stroke="#DAA666" stroke-width="1.38109" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.3993 2.73632C17.7541 2.38148 18.2354 2.18213 18.7372 2.18213C19.2391 2.18213 19.7203 2.38148 20.0752 2.73632C20.43 3.09116 20.6293 3.57242 20.6293 4.07424C20.6293 4.57606 20.43 5.05733 20.0752 5.41217L11.6016 13.8857L8.03381 14.7777L8.92577 11.2099L17.3993 2.73632Z" stroke="#DAA666" stroke-width="1.38109" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Подать заявку
                        if i.download
                            a(href="#").step__download
                                <svg width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M32.6667 40.6025V41.9951C32.6667 42.9676 32.2804 43.9002 31.5927 44.5878C30.9051 45.2755 29.9725 45.6618 29 45.6618H7.00001C6.02755 45.6618 5.09492 45.2755 4.40728 44.5878C3.71965 43.9002 3.33334 42.9676 3.33334 41.9951V12.6618C3.33334 11.6893 3.71965 10.7567 4.40728 10.0691C5.09492 9.38143 6.02755 8.99512 7.00001 8.99512H9.23238" stroke="#DAA666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.8333 3.99512H13C12.0275 3.99512 11.0949 4.38143 10.4073 5.06906C9.71965 5.75669 9.33334 6.68932 9.33334 7.66178V36.9951C9.33334 37.9676 9.71965 38.9002 10.4073 39.5878C11.0949 40.2755 12.0275 40.6618 13 40.6618H35C35.9725 40.6618 36.9051 40.2755 37.5927 39.5878C38.2804 38.9002 38.6667 37.9676 38.6667 36.9951V16.8285L25.8333 3.99512Z" stroke="#DAA666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.8333 3.99414V16.8275H38.6667" stroke="#DAA666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Скачать перечень<br> документов для лизинга

        .steps__item.steps__item--2
            include ../get/index