.header{
  border-bottom: 1px solid $border;
  padding-left: 210px;
  display:grid;
  grid-template-columns: 223px 1fr auto;
  --height: 114px;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  @include xlg-block{
    height: 76px;
  }

  &__left{
    position: relative;
  }

  &__logo{
    position: absolute;
    top: 0;
    left: 0;
  }

  &__center{
    padding: 0 75px;
    align-self: center;
  }

  &__menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item{
    display: flex;
    align-items: center;
    position: relative;

    color: $white;
    font-size: 18px;
    padding: 5px 0;
    overflow: hidden;
    @include tr;

    &:before{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $btn;
      transform: translateX(-100%);
      @include tr;
    }

    &:hover{
      color: $btn;
      &:before{
        transform: translateX(0);
      }
    }
  }

  &__btns{
    display: flex;
  }

  &__btn{
    font-family: Muller;
    color: $white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    height: var(--height);
    padding: 0 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $border;

    @include tr;

    &:hover{
      color: $btn;
    }
  }
}