.header{
  border-bottom: 1px solid $border;
  padding-left: 90px;
  display:grid;
  grid-template-columns: 223px 1fr auto;
  --height: 114px;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 120px;
  right: 0;
  @include xlg-block{
    --height: 75px;
    left: 80px;
    grid-template-columns: 130px 1fr auto;
    padding-left: 40px;
  }
  @include lg-block{
    --height: 44px;
    left: 48px;
    padding-left: 20px;
    grid-template-columns: 77px 1fr;
  }
  @include sm-block{
    --height: 40px;
    left: 0;
    padding-left: 0;
    grid-template-columns: 120px 1fr;
  }


  &__left{
    position: relative;

    @include sm-block{
        justify-content: flex-start;
    }
  }

  &__mmenu-btn{
    display: none;
    width: 43px;
    height: 40px;
    align-items: center;
    justify-content: center;

    svg{
      display: block;
    }

    @include sm-block{
      display: flex;
    }
  }

  &__logo{
    position: absolute;
    top: 0;
    left: 0;
    @include sm-block{
      left: 43px;
    }
  }

  &__center{
    padding: 0 75px;
    align-self: center;
    @include xlg-block{
      padding: 0 40px;
    }
    @include lg-block{
      display: none;
    }
  }

  &__menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item{
    display: flex;
    align-items: center;
    position: relative;

    color: $white;
    font-size: 18px;
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    @include tr;
    @include xlg-block{
      font-size: 14px;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $btn;
      transform: translateX(-100%);
      @include tr;
    }

    &:hover{
      color: $btn;
      &:before{
        transform: translateX(0);
      }
    }
  }

  &__right{
    @include lg-block{
      display: flex;
      justify-content: flex-end;
    }
    @include sm-block{
      display: block;
    }
  }

  &__btns{
    display: flex;
    @include sm-block{
        display:grid;
        grid-auto-flow: column;
    }
  }

  &__btn{
    height: var(--height);
    padding: 0 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $border;
    @include xlg-block{
      padding: 0 30px;
    }
    @include lg-block{
      padding: 0 50px;
    }
    @include sm-block{
      padding: 0;
    }

  }

  &__phone{
    @extend .header__item;
    font-size: 20px;
    @include xlg-block{
      font-size: 14px;
    }
    @include sm-block{
      font-size: 12px;
    }
  }

  &__call{
    color: $white;
    font-size: 20px;
    @include xlg-block{
      font-size: 14px;
    }
    @include sm-block{
      font-size: 12px;
    }
  }

}