.result
    h2.result__title.title.
        <span class="color-gold">Результат</span> лизинга
    .result__txt.
        Благодаря новому оборудованию, медицинское учреждение оказывает <span class="color-gold">больше услуг</span> населению и <span class="color-gold">лучшего качества.</span>
    .result__img
        img(src="/images/content/result/img.png" alt="lorem")