.result{
  padding-top: 140px;
  padding-bottom: 80px;
  margin-left: 75px;
  @include xlg-block{
    padding-top: 100px;
    margin-left: 40px;
    padding-bottom: 60px;
  }

  &__title{
    margin-bottom: 50px;
    font-size: 60px;
    @include xlg-block{
      margin-bottom: 15px;
      font-size: 44px;
    }
  }

  &__txt{
    max-width: 1200px;
    font-size: 40px;
    @include xlg-block{
      font-size: 26px;
      max-width: 803px;
    }
  }

  &__img{
    margin-top: -50px;
    img{
      display: block;
    }
  }


}