.partners
    h2.partners__title.title Наши партнеры
    .partners__list
        each i in [1,2,3,4,5,6,7,8,9,10]
            .partners__item
                img(src=`/images/content/partners/${i}.png` alt="lorem")