.tax
    .tax__left
        h2.tax__title.
            Преимущества для <span class="color-gold">налоговой базы клиники</span>
        .tax__img
            img(src="/images/content/tax/img.png" alt="lorem")
    .tax__right
        .tax__list
            -
                var list = [
                    'Лизинговые договора не отображаются на балансе как займы или кредиты, что повышает инвестиционную привлекательность компании.',
                    'Выше вероятность одобрения. Лизингодатель остается владельцем оборудования, поэтому более уверен в собственной финансовой безопасности.',
                    'Более простое и быстрое заключение договора. При лизинге оборудования обычно требуется предоставить меньше финансовых документов, чем в случае с кредитом на приобретение техники.',
                    'Снижение налоговой базы на налог на прибыль. Все выплаты по лизингу относятся к расходам предприятия.',
                    'Уменьшение рисков, так как оборудование, взятое в лизинг, числится на балансе лизинговой компании, и на него не могут претендовать кредиторы.',
                    'Пример (не обязательно так)- но схема нужна<br>Перечень документов для лизинга, с возможностью скачивания или в схеме сделать активные ссылки для скачивания ',
                    'Возможность применения повышенного коэффициента амортизации.',
                ];
            each i in list
                .tax__item
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8333 0.0366211C14.8275 0.0366211 11.9448 1.23067 9.81944 3.35608C7.69402 5.48149 6.49998 8.36417 6.49998 11.37C6.49998 14.3757 7.69402 17.2584 9.81944 19.3838C11.9448 21.5092 14.8275 22.7033 17.8333 22.7033C20.8391 22.7033 23.7218 21.5092 25.8472 19.3838C27.9726 17.2584 29.1666 14.3757 29.1666 11.37H26.3333C26.3333 16.0733 22.5366 19.87 17.8333 19.87C15.579 19.87 13.417 18.9744 11.8229 17.3804C10.2288 15.7863 9.33331 13.6243 9.33331 11.37C9.33331 9.11561 10.2288 6.95361 11.8229 5.35955C13.417 3.76549 15.579 2.86995 17.8333 2.86995C18.4425 2.86995 19.0516 2.94079 19.6325 3.06829L21.9133 0.801621C20.61 0.291621 19.25 0.0366211 17.8333 0.0366211ZM27.1691 2.27495L17.8333 11.6108L14.4616 8.23912L12.4641 10.2508L17.8333 15.62L29.1666 4.28662L27.1691 2.27495ZM4.98415 5.44829C2.36331 7.60162 0.833313 10.8175 0.833313 14.2033C0.833313 17.2091 2.02736 20.0918 4.15277 22.2172C6.27818 24.3426 9.16086 25.5366 12.1666 25.5366C13.0733 25.5366 13.9658 25.4233 14.83 25.2108C12.3366 24.6583 10.0416 23.4116 8.15748 21.6975C5.39498 20.2241 3.66665 17.3341 3.66665 14.2033C3.66665 13.7783 3.70915 13.3675 3.76581 12.9425C3.70915 12.4183 3.66665 11.8941 3.66665 11.37C3.66665 9.32995 4.11998 7.30412 4.98415 5.44829Z" fill="#DAA666"/>
                    </svg>
                    span!= i