.socials
    a(href="/").socials__item
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.0423 20.2593L12.6511 26.1283C13.2259 26.1283 13.4798 25.8651 13.8006 25.5527L16.562 22.8636L22.3068 27.1143C23.3641 27.6986 24.1271 27.3961 24.3905 26.1313L28.1617 8.33294C28.5479 6.7826 27.5716 6.07944 26.5602 6.53931L4.41532 15.0911C2.90372 15.6983 2.91254 16.5429 4.13979 16.9192L9.82267 18.6956L22.9792 10.3829C23.6002 10.0057 24.1703 10.2085 23.7024 10.6243L13.0419 20.2591L13.0423 20.2593Z" fill="#5B5E61"/>
        </svg>
        span Telegram
    a(href="/").socials__item
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.9775 8.07539C23.6068 5.71289 20.4458 4.40039 17.1092 4.40039C10.1726 4.40039 4.55314 10.0004 4.55314 16.9129C4.55314 19.1004 5.16777 21.2879 6.22143 23.1254L4.46533 29.6004L11.1385 27.8504C12.9824 28.8129 15.0019 29.3379 17.1092 29.3379C24.0458 29.3379 29.6653 23.7379 29.6653 16.8254C29.5775 13.5879 28.3483 10.4379 25.9775 8.07539ZM23.1678 21.3754C22.9044 22.0754 21.6751 22.7754 21.0605 22.8629C20.5336 22.9504 19.8312 22.9504 19.1287 22.7754C18.6897 22.6004 18.0751 22.4254 17.3727 22.0754C14.2117 20.7629 12.1922 17.6129 12.0166 17.3504C11.8409 17.1754 10.6995 15.6879 10.6995 14.1129C10.6995 12.5379 11.4897 11.8379 11.7531 11.4879C12.0166 11.1379 12.3678 11.1379 12.6312 11.1379C12.8068 11.1379 13.0702 11.1379 13.2458 11.1379C13.4214 11.1379 13.6848 11.0504 13.9483 11.6629C14.2117 12.2754 14.8263 13.8504 14.9141 13.9379C15.0019 14.1129 15.0019 14.2879 14.9141 14.4629C14.8263 14.6379 14.7385 14.8129 14.5629 14.9879C14.3873 15.1629 14.2117 15.4254 14.1239 15.5129C13.9483 15.6879 13.7726 15.8629 13.9483 16.1254C14.1239 16.4754 14.7385 17.4379 15.7044 18.3129C16.9336 19.3629 17.8995 19.7129 18.2507 19.8879C18.6019 20.0629 18.7775 19.9754 18.9531 19.8004C19.1287 19.6254 19.7434 18.9254 19.919 18.5754C20.0946 18.2254 20.358 18.3129 20.6214 18.4004C20.8848 18.4879 22.4653 19.2754 22.7287 19.4504C23.08 19.6254 23.2556 19.7129 23.3434 19.8004C23.4312 20.0629 23.4312 20.6754 23.1678 21.3754Z" fill="#5B5E61"/>
        </svg>
        span WhatsApp
