.socials {
  display: flex;
  gap: 60px;
  align-items: center;
  @include xlg-block{
      gap: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;

    color: #505050;
    font-size: 20px;
    @include tr;
    @include xlg-block {
      font-size: 13px;
      gap: 10px;
    }
    @include sm-block{
      font-size: 20px;
    }

    &:hover {
      color: $btn;
    }

    svg {
      @include xlg-block{
        width: 23px;
        height: 23px;
      }
      @include sm-block{
        width: 34px;
        height: 34px;
      }
      path {
        fill: currentColor;
      }
    }
  }
}