button(type='button').up
    <svg width="66" height="67" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="33" cy="33.7051" r="32" stroke="#5B5E61" stroke-width="2"/>
    <path d="M33.7071 25.998C33.3166 25.6074 32.6834 25.6074 32.2929 25.998L25.9289 32.3619C25.5384 32.7525 25.5384 33.3856 25.9289 33.7761C26.3195 34.1667 26.9526 34.1667 27.3431 33.7761L33 28.1193L38.6569 33.7761C39.0474 34.1667 39.6805 34.1667 40.0711 33.7761C40.4616 33.3856 40.4616 32.7525 40.0711 32.3619L33.7071 25.998ZM34 40.7051L34 26.7051L32 26.7051L32 40.7051L34 40.7051Z" fill="#5B5E61"/>
    </svg>