.profit
    h2.profit__title.title.
        Когда выгодно взять<br><span class="color-gold">оборудование в лизинг?</span>
    .profit__grid
        .profit__left
            .profit__img
                img(src="/images/content/profit/img.jpg" alt="lorem")
        .profit__right
            .profit__list
                each i in ['Медицинское учреждение расширяет перечень услуг и возникает необходимость в приобретении современного оборудования. А его покупка во многих случаях невозможна или нерентабельна из-за его высокой стоимости.','Комплектация новых объектов медицинского обслуживания населения.']
                    .profit__item
                        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.855 0.699219C14.8493 0.699219 11.9666 1.89326 9.84116 4.01868C7.71575 6.14409 6.52171 9.02676 6.52171 12.0326C6.52171 15.0383 7.71575 17.921 9.84116 20.0464C11.9666 22.1718 14.8493 23.3659 17.855 23.3659C20.8608 23.3659 23.7435 22.1718 25.8689 20.0464C27.9943 17.921 29.1884 15.0383 29.1884 12.0326H26.355C26.355 16.7359 22.5584 20.5326 17.855 20.5326C15.6007 20.5326 13.4387 19.637 11.8446 18.043C10.2506 16.4489 9.35504 14.2869 9.35504 12.0326C9.35504 9.77821 10.2506 7.6162 11.8446 6.02214C13.4387 4.42809 15.6007 3.53255 17.855 3.53255C18.4642 3.53255 19.0734 3.60338 19.6542 3.73088L21.935 1.46422C20.6317 0.954219 19.2717 0.699219 17.855 0.699219ZM27.1909 2.93755L17.855 12.2734L14.4834 8.90172L12.4859 10.9134L17.855 16.2826L29.1884 4.94922L27.1909 2.93755ZM5.00587 6.11089C2.38504 8.26422 0.855042 11.4801 0.855042 14.8659C0.855042 17.8717 2.04909 20.7543 4.1745 22.8798C6.29991 25.0052 9.18259 26.1992 12.1884 26.1992C13.095 26.1992 13.9875 26.0859 14.8517 25.8734C12.3584 25.3209 10.0634 24.0742 8.17921 22.3601C5.41671 20.8867 3.68837 17.9967 3.68837 14.8659C3.68837 14.4409 3.73088 14.0301 3.78754 13.6051C3.73088 13.0809 3.68837 12.5567 3.68837 12.0326C3.68837 9.99255 4.14171 7.96672 5.00587 6.11089Z" fill="#DAA666"/>
                        </svg>
                        span= i