//USER
@import "default/css/variables";
@import "default/css/mixins";
@import "default/css/fonts";
@import "default/css/smart-grid";
@import "default/css/adjustment";
@import "default/css/common";

//COMPONENTS
@import "components/header/style";
@import "components/footer/style";
@import "components/fixed/style";
@import "components/banner/style";
@import "components/banner-advs/style";
@import "components/about/style";
@import "components/equipment/style";
@import "components/profit/style";
@import "components/meds/style";
@import "components/result/style";
@import "components/buy/style";
@import "components/tax/style";
@import "components/steps/style";
@import "components/get/style";
@import "components/accept/style";
@import "components/partners/style";
@import "components/projects/style";
@import "components/feed/style";
@import "components/socials/style";
@import "components/subs/style";
@import "components/call/style";
@import "components/mmenu/style";

//PAGES
@import "pages/style";


.debug {
  @include debug(rgba(0,0,0,0.3), 1px solid red);
  z-index: 100;
  top: 0;
  display: none;
}