.meds
    h2.meds__title.title.
        <span class="color-gold">Преимущества лизинга «SUNTEL»</span><br> для медицинских учреждений
    .meds__list
        -
            var list = [
                {
                    img: '/images/content/meds/1.svg',
                    txt: 'Возможность оснастить медицинское учреждение большим количеством нового оборудования'
                },
                {
                    img: '/images/content/meds/2.svg',
                    txt: 'Минимизация финансовой нагрузки на бизнес'
                },
                {
                    img: '/images/content/meds/3.svg',
                    txt: 'Комплектация новых объектов медицинского обслуживания «ПОД КЛЮЧ»: доставка, монтаж, гарантийное и сервисное обслуживание, обучение персонала'
                },
                {
                    img: '/images/content/meds/4.svg',
                    txt: 'Возможность полной модернизации устаревшего оборудования и расширения деятельности с минимальными вложениями'
                },
                {
                    img: '/images/content/meds/5.svg',
                    txt: 'Ускоренная амортизация и экономия по налогу на прибыль'
                }
            ];
        each i in list
            .meds__item
                .meds__img
                    img(src=i.img alt="lorem")
                .meds__txt= i.txt
    .meds__bottom
        .meds__sub Возможность лизинга медицинского оборудования «под ключ» с дополнительными услугами:
        .meds__quote.
            Доставка, Монтаж, Наладка,<br> Обучение персонала и пр.